@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: #e0aaff;
    font-family: 'Space Mono', monospace;
}

body {
    background: hsl(270, 85%, 25%);

    --main-color: hsl(275, 100%, 70%);
    --hover-color: hsl(0, 0%, 100%);
}

hr {
    position: relative;
    padding: 2em 0;
    border: none;
}

hr:before {
    content: '\2022\2022\2022';
    position: absolute;
    top: 0rem;
    right: 0;
    left: 0;
    font-size: 2em;
    color: var(--main-color);
    text-align: center;
}

/* center title */
.title {
    padding-top: 1rem;
    text-align: center;
    width: 100%;
    font-size: 5rem;
    min-width: 50%;
    max-width: 100%;
}

.clock {
    /* put in bottom right corner */
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.75em;
    transition: all 0.5s;
}

.repo-name {
    display: block;
    width: 100%;
    font-size: 100%;
}

a {
    text-decoration: none;
    transition: all 500ms;
}

a:hover {
    color: var(--hover-color);
}

p {
    display: inline-block;
    color: hsla(0, 0%, 100%, 0.25);
}

.repo {
    list-style: none;
    background-color: hsl(0, 0%, 10%);
    padding: 1em;
    margin: 1em;
    border-radius: 0.5em;
    transition: all 500ms;
}

.repo:hover {
    background-color: hsl(270, 80%, 15%);
}