@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    color: #e0aaff;
    font-family: 'Space Mono', monospace;
}

body {
    background: hsl(270, 85%, 25%);

    --main-color: hsl(275, 100%, 70%);
}

hr {
    position:relative;
    padding:3rem 0;
    border:none;
}

hr:before {
    content: '\2044\2217\2013\2013\2013\2013\2013\2013\2013\2013\2013\2013\2013\2013\2013\2013\2013\2013\2013\2013\2013\2217\2044';
    position: absolute;
    top: 1.2rem;
    right: 0;
    left: 0;
    font-size: 2em;
    color: var(--main-color);
    text-align: center;
}

/* center title */
.title {
    text-align: center;
    font-size: 5em;
}

.clock {
    /* put in bottom right corner */
    position: fixed;
    bottom: 1rem;
    right: 1rem;
    font-size: 1.75em;
}